body {
    background-color: #000f1f;
    font-family: Arial, sans-serif;
    /* flex-direction: column; */
}

h1 {
    color: #c5efef;
    text-align: left;
    font-size: large;
}

.userinf {
    height: auto;
    background-color: #001f3d;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 
        0 0 15px #326595;
    width: 500px;
    height: 500px;
    text-align: center;
    margin: 50px;
}

.hh {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    /* height: fit-content; */
}

.second-row , .first-row {
    padding: 20px;
    max-height: 700px; 
    overflow-y: scroll;
    scrollbar-width: none;
}

.first-row{
    margin-left: 30px;
}

.second-row {
    margin-right: 30px;
}

.event-user-item {
    font-size: 18px;
    color: #ffffff;  
    font-weight: bold;
    list-style-type: none;
    padding: 7px 15px;
    border-radius: 12px;
    margin-bottom: 12px;
    text-align: left;
    box-shadow: 
    0 0 10px #326595;

}

.sv, .pie-svg ,#event-users-list{
    background-color: #001f3d;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 
        0 0 15px #326595;
    width: 700px;
    height: 330px;
    text-align: center;
    margin: 50px;
}


